<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME</title>
</head>
<style>
body{
    background-color: rgb(250, 238, 223);
}

</style>

<body >
    <h1>WELCOME TO HOME PAGE</h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veritatis eaque, dicta autem provident ipsa odio
        laborum, officia distinctio maxime dignissimos odit alias repellendus laboriosam soluta aspernatur id nisi.
        Asperiores eaque tenetur obcaecati assumenda ipsa architecto sunt eligendi excepturi consequatur ex id
        blanditiis explicabo similique odit autem, ab doloribus repellendus consequuntur! Voluptate natus enim
        repellendus?</p>
    <button type="submit">click here</button>
</body>

</html>