<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment Detail</title>
</head>
<body>
    <form method="post">
        {% csrf_token %}
    <h2>Student Wise Payment Details</h2>
    Enter Student ID:
    <input type="text" name="Sid" >
    <br>
    <br>
    <button>Get Payment Details</button>
    <br>
    <br>
    <table border="3px solid black" bgcolor="yellow">
<tr>

    <th>Serial No</th>
    <th>Name</th>
    <th>Mobile No</th>
    <th>Amount</th>
    <th>Payment Mode</th>
    <th>Payment Date</th>
</tr>
{% for pay in payments %}
<tr>
   <td>{{forloop.counter}}</td>
    <td>{{stu.name}}</td>
    <td>{{stu.mobileNo}}</td>
    <td>{{pay.amount}}</td>
    <td>{{pay.payment_mode}}</td>
    <td>{{pay.payment_date}}</td>
   
</tr>
{% endfor %}
</table>
</form>
</body>
</html>