<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <style>
    .navbar-nav {background-color: rgb(198, 236, 252);display: flex;justify-content: center;}.nav-item {padding: 30px; }nav { border: 2px solid black;border-radius: 10px; }
    .nav-link {text-decoration: none;color: black;font-weight: bold;}
    footer{position:absolute;bottom:0px; }
    .nav-item:hover{
      width:80px;
      
      /* border-radius:14px; */
      background-color: rgb(245, 113, 113);
      color:white;
      text-align: center;
    }
    
  
  </style>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" href="../home">Home </a>
        <a class="nav-item nav-link" href="../contactUs">Contact Us</a>
        <a class="nav-item nav-link" href="#">Pricing</a>

      </div>
    </div>
  </nav>
  <h3>About Us</h3>
  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempora, est? Non dolores sit fugit odio ex tenetur
    voluptatem excepturi consectetur cum reprehenderit perspiciatis praesentium distinctio at fuga dicta temporibus
    officia explicabo atque, accusantium quam sed vel molestiae odit fugiat! Aperiam, voluptatum. Pariatur,
    molestiae voluptates. Distinctio explicabo dolorum facilis. Itaque dolorem ipsam eius deserunt recusandae! Lorem,
    ipsum dolor sit amet consectetur adipisicing elit. In, officiis itaque quos dolorum impedit ratione vero placeat
    eligendi molestias nesciunt suscipit velit adipisci excepturi officia quae error quis quisquam hic possimus,
    inventore voluptas iure! Delectus aspernatur sint dolor, non ducimus culpa eaque voluptates animi, quasi perferendis
    tempora consequatur enim rerum fuga minus facere inventore? Lorem ipsum dolor sit amet consectetur, adipisicing
    elit. Fugit atque eligendi quas sit iste omnis aliquid vitae sapiente temporibus, similique numquam magnam tempore
    consequatur, harum esse voluptate ad dolor! Ad eos exercitationem iusto et recusandae quae pariatur. Doloribus
    doloremque accusamus non quaerat incidunt ipsum, eveniet recusandae expedita quisquam consectetur libero nulla vero
    rem dolore vel quos repellat id impedit. Dignissimos alias ratione maxime dolore, pariatur totam laborum veniam
    harum consectetur delectus, earum atque eum nulla possimus quam, esse sapiente sequi debitis ullam nobis ab! Omnis
    accusantium, odit provident enim minus in neque a quo vitae cum, ad ex odio fuga nobis doloribus ullam corporis, hic
    ea. Eum deleniti repellat esse, aut necessitatibus velit magnam explicabo rerum atque soluta, culpa aspernatur!
    Nobis, error velit! Praesentium maxime fugiat ipsam eveniet non porro deleniti nam ea velit modi in adipisci et,
    tempore voluptatum? Numquam temporibus ex ducimus architecto asperiores vitae nemo repellat enim!</p>
    
    <footer>
     <p>contact us via facebook@ <a href="https://www.facebook.com/login/?next=https%3A%2F%2Fwww.facebook.com%2F">Facebook</a></p>
   </footer>
  
</body>

</html>